name: Can I buy it?
on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '*/20 * * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: DevExpress/testcafe-action@latest
      with:
        args: "chrome tests"
